

/* Lato font */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');


body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(50,50,50);
}

#paracoordTab {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

#mainDiv {
    margin: 0 auto;
    width: 100%;
    height: 100%;
}

.attrNameText {
    font-family: Arial;
    font-weight: 400;
    /*letter-spacing: 0.01em;*/
    fill: #eeeeee;
    font-size: 3.7em;
    font-style: normal;
    cursor: pointer;
}

.attrNameTextBox,
.contextIndicatorBox {
    fill: rgba( 96, 96, 96, 0.8 );
    cursor: pointer;
}

.CIText {
    font-family: Arial;
    fill: #eeeeee;
    font-size: 1.75em;
    font-style: normal;
}

.ParaCoord_Axis_Class .tick text {
    font-family: Arial;
    font-weight: 300;
    fill: #eeeeee;
    font-size: 3.2em;
    font-style: normal;
    cursor: pointer;
}

.domain,
line {
    stroke: white;
    stroke-width: 3px;
    /*y: 10;*/
}


