#attrStoreTab {
  width: 100% !important;
}
header.axisStore {
  background-color: #252525;
  height: 10%;
  display: grid;
  grid-template-columns: 1fr repeat(3, 1fr) 1fr;

  justify-items: center;

  border-color: #525252;
  border-bottom: solid;
  border-width: 1px;
}

.minusButton {
  background-color: #252525;
  color: #f0f0f0;
  grid-column-start: 2;
  grid-column-end: 3;

  margin: auto;
  font-size: 6em;
  font-weight: 100;

  padding: 0 10%;
  border-top: none;
  border-bottom: none;
  border-left: none;
  border-right: solid;
  border-color: #525252;
}

.totalAxesInFocus {
  color: #f0f0f0;
  grid-column-start: 3;
  grid-column-end: 4;

  font-size: xxx-large;

  font-weight: 400;

  border: none;
  border-color: #525252;

  margin: auto;
}

.plusButton {
  background-color: #252525;
  color: #f0f0f0;
  grid-column-start: 4;
  grid-column-end: 5;

  margin: auto;
  font-size: 6em;
  font-weight: 100;

  padding: 0 10%;
  border-top: none;
  border-bottom: none;
  border-right: none;
  border-left: solid;
  border-color: #525252;
}

.undoButton {
  background-color: #252525;
  color: #f0f0f0;
  grid-column-start: 5;
  grid-column-end: 6;

  margin: auto;
  font-size: 6em;
  font-weight: 100;

  border: none;
}

main.axisStore {
  height: 90%;
  background-color: #252525;
}

.minusButton,
.plusButton,
.undoButton {
  text-align: center;
  text-decoration: none;
}

.disableButton {
  color: #252525;
}

ol.axisStore {
  margin: 0%;
  padding: 6%;
  list-style-type: none;
}
li {
  margin: 12%;
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  align-items: center;
  cursor: move;
}

label {
  font-size: xxx-large;
  font-weight: 100;

  grid-column-start: 2;
  grid-column-end: 3;
}

input.axisStore {
  grid-column-start: 3;
  grid-column-end: 4;

  margin-left: auto;

  height: 100%;
  width: 50%;
}

input.axisStore:after {
  line-height: 80%;

  content: "";
  display: inline-block;
  width: 100%;
  height: 100%;
  /* margin-top: -4px;
  margin-left: -4px; */
  border-bottom: 1px solid #525252;
  /* border-radius: 0.25em; */
  background: #252525;
}

input.axisStore:checked:after {
  width: 100%;
  height: 100%;
  content: "\2228";
  font-size: 50px;
  color: #f0f0f0;
  text-align: center;
  /* border-left: solid;
  border-color: #525252; */
  background-color: #252525;

  /* border: 3px solid #00ff00; */
}
