/*To avoid highlighted borders*/
* {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    outline: 0;
}

/* scroll bar design */
::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-track {
    background-color: rgb(50,50,50);
}

::-webkit-scrollbar-thumb {
    background: #888;
}

    ::-webkit-scrollbar-thumb:hover {
        background: #555;
    }


/* Lato font */
/*@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');*/


body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(50,50,50);
}

#paracoordTab {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

#mainDiv {
    margin: 0 auto;
    width: 100%;
    height: 100%;
}

.attrNameText {
    font-family: 'Helvetica', 'Arial', sans-serif;
    font-weight: 400;
    /*letter-spacing: 0.01em;*/
    fill: #eeeeee;
    font-size: 3.7em;
    font-style: normal;
    cursor: pointer;
}

.contextIndicatorBox {
    fill: rgba( 96, 96, 96, 1 );
    cursor: pointer;
}

.attrNameTextBox {
    fill: rgba( 96, 96, 96, 0.8 );
    cursor: pointer;
}

.CIText {
    font-family: 'Helvetica', 'Arial', sans-serif;
    fill: #eeeeee;
    font-size: 1.75em;
    font-style: normal;
}

.ParaCoord_Axis_Class .tick text {
    font-family: 'Helvetica', 'Arial', sans-serif;
    font-weight: 300;
    fill: #eeeeee;
    font-size: 3.3em;
    font-style: normal;
    cursor: pointer;
}

.domain,
line {
    stroke: white;
    stroke-width: 3px;
    /*y: 10;*/
}

/*Brush setter styles.*/

#brushSetterOverlay {
    width: 100% !important;
    height: 100% !important;
    margin: auto;
    font-family: 'Helvetica', 'Arial', sans-serif;
    color: #f0f0f0;
    background: rgb( 50, 50, 50);
    border-top-right-radius: 120px;
    border-top-left-radius: 120px;
    box-shadow: 1px 2px 12px black;
}

#brushSetterOverlayInner {
    opacity: 1;
    width: inherit;
    height: inherit;
    overflow-y: scroll;
    overflow-x: hidden;
    border-top-right-radius: inherit;
    border-top-left-radius: inherit;
    border-bottom: 5px solid #abbbbb;
}

.brushsetterheader {
    width: inherit;
    display: flex;
    position: sticky;
    position: -webkit-sticky; /* Safari */
    top: -1px;
    opacity: 1;
    background: rgba(50, 50, 50, 1); /*Same colour as brushSetterOverlay bg but with opacity 1*/
    border-bottom: 5px solid #abbbbb;
    z-index: 1;
}

.brushtabname {
    font-size: 3.5em;
    text-align: center;
    color: white;
    user-select: none;
    font-weight: 400;
    width: inherit;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

li.brushlist {
    /*border-bottom: 5px solid #abbbbb;*/
    /* margin: 3% 3%; */
    padding: 3% 3% 0% 3%;
    display: grid;
    grid-template-columns: 1fr 7fr 1fr 1fr;
    align-items: center;
    cursor: move;
}

li.brushinfocus {
    background: rgba(0,139,139,0.7);
}

label.brushname {
    font-size: 2em;
    grid-column-start: 2;
    grid-column-end: 3;
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding-bottom: 7%;
    color: #abbbbb;
}

    label.brushname.active {
        /*color: #7dcdc4;*/
        color: white;
    }

/*Brush setter styles.*/
label.brushvalue {
    font-size: 4em;
    grid-column-start: 1;
    grid-column-end: 3;
    text-align: left;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding-left: 3%;
    color: #abbbbb;
}

    label.brushvalue.active {
        /*color: #7dcdc4;*/
        color: white;
    }

.brushliborder {
    width: 90%;
    grid-column-start: 1;
    grid-column-end: 5;
    border-bottom: 2px solid #abbbbb;
    margin: 3% 5% 0% 5%;
}

.lastBrush {
    width: 90%;
    height: 50px;
    grid-column-start: 1;
    grid-column-end: 5;
}

/* Slider Checkbox styles - https://www.w3schools.com/howto/howto_css_switch.asp */
/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 100px;
    height: 58px;
    grid-column-start: 3;
    grid-column-end: 5;
}

    /* Hide default HTML checkbox */
    .switch input {
        opacity: 0;
        width: 0;
        height: 0;
    }

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

    .slider:before {
        position: absolute;
        content: "";
        height: 50px;
        width: 50px;
        left: 4px;
        bottom: 4px;
        background-color: white;
        -webkit-transition: .4s;
        transition: .4s;
    }

input:checked + .slider {
    background-color: #7dcdc4;
}

input:focus + .slider {
    box-shadow: 0 0 1px #7dcdc4;
}

input:checked + .slider:before {
    -webkit-transform: translateX(42px);
    -ms-transform: translateX(42px);
    transform: translateX(42px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 58px;
}

    .slider.round:before {
        border-radius: 50%;
    }


.modal-mask {
    position: fixed;
    z-index: 9998;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: table;
    transition: opacity 0.3s ease;
}

.modal-wrapper {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.modal-container {
    width: 80%;
    margin: 0px auto;
    padding: 20px 30px;
    background-color: #323232;
    border-radius: 30px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.33);
    transition: all 0.3s ease;
    display: inline-block;
    text-align: initial;
}

.modal-header {
    margin-top: 0;
    font-size: 3em;
    text-align: center;
    color: white;
    user-select: none;
    padding-top: 2%;
    /*border-bottom: 5px solid #abbbbb;
    padding-bottom: 3%;*/
}

.modal-body {
    padding-top: 7%;
    padding-bottom: 7%;
    font-size: 4em;
    text-align: center;
    user-select: none;
    overflow: hidden;
    color: #abbbbb;
}

    .modal-body .active {
        color: #4ae6d8;
    }

.modal-body2 {
    font-size: 2em;
    user-select: none;
    overflow: hidden;
    color: #abbbbb;
}

.modal-footer label {
    font-size: 3em;
    font-weight: lighter;
    grid-column-start: 1;
    grid-column-end: 3;
    text-align: right;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: #7dcdc4;
}

.modal-default-input {
    font-size: 4em;
    position: absolute;
    left: 25%;
    top: 50%;
    width: 50%;
    height: 2em;
    text-align: center;
    background-color: white;
    color: #323232; /*same as the modal-container's background*/
    border-radius: 30px; /*same as the modal-container's border-radius*/
    border: 5px solid #7dcdc4;
}

.modal-default-button {
    margin-top: 7%;
    margin-left: 10%;
    font-size: 3em;
    background: #323232; /*same as the modal-container's background*/
    border: 0px;
    color: white;
}

    .modal-default-button.active {
        color: #008b8b;
    }

    .modal-default-button.left {
        float: left;
    }

    .modal-default-button.right {
        float: right;
    }

    .modal-default-button.bordered {
        border: 2px solid #7dcdc4;
        border-radius: 20px;
        padding: 1% 2%;
    }

.minus-plus-button {
    font-size: 3em;
    font-weight: 100;
    border-radius: 50%;
    border-top: none;
    border-bottom: none;
    border-left: none;
    border-right: solid;
    border-color: #525252;
    background: #7dcdc4; /*same as the slider ring colour and the OK button text colour*/
    color: #252525;
    float: right;
    margin-top: 7%;
    margin-left: 10%;
    height: 1em;
    width: 1em;
}

    .minus-plus-button.active {
        background: #008b8b;
    }

/*
 * The following styles are auto-applied to elements with
 * transition="modal" when their visibility is toggled
 * by Vue.js.
 *
 * You can easily play with the modal transition by editing
 * these styles.
 */


.modal-enter-active,
.modal-leave-active {
    transition: opacity 0.5s ease;
}

.modal-enter-from,
.modal-leave-to {
    opacity: 0;
}

.modal-enter .modal-container,
.modal-leave-active .modal-container {
    -webkit-transform: scale(0);
    transform: scale(0);
}

.brushTextInput-enter-active {
    transition: opacity 0.5s ease;
}

.brushTextInput-leave-active {
    transition: opacity 0.2s ease;
}

.brushTextInput-enter-from,
.brushTextInput-leave-to {
    opacity: 0;
}

#axisDetailViewOverlay {
    width: 95vw !important;
    left: 2.5vw;
    /* offset-x | offset-y | blur-radius | color */
    box-shadow: 1px 2px 12px black;
    border-top-right-radius: 120px;
    border-top-left-radius: 120px;
    border: 0;
    background-color: rgba( 50, 50, 50, 1);
    display: flex !important;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    position: relative;
}

#axisDetailViewHeader {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
}

#axisDetailView_ButtonLeft,
#axisDetailView_ButtonRight {
    margin: 0 20px 0 20px;
    cursor: pointer;
}

#axisDetailViewHeaderInfo {
    width: calc( 100% - 8vw );
    padding: 4vw 4vw 5px 4vw;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    position: relative;
}

.axisDetailViewHeaderInfoBox {
    max-width: calc( 100% - 60px - 80px - 60px - 80px );
    margin: 0 auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    position: relative;
    padding: 15px 30px 15px 30px;
}

#axisDetailView_BarLabel_Name,
#axisDetailView_BarLabel_Value {
    font-family: 'Helvetica', 'Arial', sans-serif;
    font-size: 1em;
    fill: white;
    overflow-wrap: break-word;
}

#attributeName {
    font-family: 'Helvetica', 'Arial', sans-serif;
    color: white;
    font-size: 2.6em;
    font-weight: 400;
    margin: 0;
    padding: 0;
    text-align: center;
    overflow-wrap: break-word;
}

#attributeUnit {
    font-family: 'Helvetica', 'Arial', sans-serif;
    color: white;
    font-size: 1.75em;
    font-weight: 400;
    margin: 0;
    padding: 0;
    text-align: center;
    overflow-wrap: break-word;
}

#xAxisView {
    width: 100%;
    margin: 20px auto 0 auto;
}

#xAxis {
    width: calc( 100% - 8vw );
    height: 58px;
    padding: 0 4vw 0 4vw;
    overflow-x: overlay;
}

#axisDetailView_SVG {
    padding-bottom: 200px;
}

#axisDetailViewGradient {
    height: 150px;
    width: calc( 100% - 15px );
    background: rgba( 50, 50, 50, 0);
    background: linear-gradient( 0deg, rgba( 50, 50, 50, 1) 10%, rgba( 50, 50, 50, 0) 100%);
    position: -webkit-sticky; /* Safari */
    position: sticky;
    bottom: 0;
    pointer-events: none;
}

#axisDetailView {
    width: calc( 100% - 8vw );
    /*height: calc( 100% );*/
    /*background-color: darkgray;*/
    padding: 3px 4vw 3vw 4vw;
    opacity: 1;
    /*display: flex;*/
    /*justify-content: center;*/
    /*align-items: center;*/
    /*flex-wrap: wrap;*/
    /*flex-direction: column;*/
    overflow-y: scroll;
    overflow-x: hidden;
    cursor: pointer;
}

/*.horizontalLine {
    width: calc( 100% - 6vw );
    height: 0;
    border-bottom: 1px solid rgba( 255, 255, 255, 0.4);
}*/

h1 {
    font-family: 'Helvetica', 'Arial', sans-serif;
    color: lightgrey;
}

.tick text {
    font-size: 3.3em;
}

text {
    color: white;
    font-size: 2.1em;
}
