
.attrNameText {
    font-family: Bahnschrift;
    font-weight: bold;
    fill: #fcfcfc;
    font-size: 3.5em;
    font-style: normal;
}

.CIText {
    font-family: Bahnschrift;
    fill: #fcfcfc;
    font-size: 1.5em;
    font-style: normal;
}

.ParaCoord_Axis_Class .tick text {
    font-family: Bahnschrift;
    fill: #fcfcfc;
    font-size: 2.5em;
    font-style: normal;
}
