div#attrStoreTab {
  width: 100% !important;
}
header.axisStore {
  background-color: #525252;
  height: 10%;
}

main.axisStore {
  height: 90%;
  background-color: #969696;
}

ul.axisStore {
  margin: 0%;
  /* padding: 1em; */
}
