#attrStoreTab {
    width: 100% !important;
    height: 100% !important;
    margin: auto;
    font-family: 'Helvetica', 'Arial', sans-serif;
    color: #f0f0f0;
}

header.axisStore {
    background-color: rgb(50, 50, 50);
    height: 10%;
    display: grid;
    grid-template-columns: 1fr repeat(3, 1fr) 1fr;
    justify-items: center;
    border-color: #525252;
    border-bottom: solid;
    border-width: 1px;
}

.minusButton {
    background-color: rgb(50, 50, 50);
    color: #f0f0f0;
    grid-column-start: 2;
    grid-column-end: 3;
    margin: auto;
    font-size: 6em;
    font-weight: 100;
    padding: 0 10%;
    border-top: none;
    border-bottom: none;
    border-left: none;
    border-right: solid;
    border-color: #525252;
}

.totalAxesInFocus {
    color: #f0f0f0;
    grid-column-start: 3;
    grid-column-end: 4;
    font-size: 64px;
    font-weight: 400;
    border: none;
    border-color: #525252;
    margin: auto;
}

.plusButton {
    background-color: rgb(50, 50, 50);
    color: #f0f0f0;
    grid-column-start: 4;
    grid-column-end: 5;
    margin: auto;
    font-size: 6em;
    font-weight: 100;
    padding: 0 10%;
    border-top: none;
    border-bottom: none;
    border-right: none;
    border-left: solid;
    border-color: #525252;
}

.undoButton {
    background-color: rgb(50, 50, 50);
    color: #f0f0f0;
    grid-column-start: 5;
    grid-column-end: 6;
    margin: auto;
    font-size: 6em;
    font-weight: 100;
    border: none;
}

.undoButton.disableButton {
    color: #797979;
}

.minusButton,
.plusButton,
.undoButton {
    text-align: center;
    text-decoration: none;
}

main.axisStore {
    height: 90%;
    background-color: rgb(50, 50, 50);
    overflow-y: scroll;
}

.disableButton {
    color: rgb(50, 50, 50);
}

ul.axisStore {
    margin: 3%;
    padding: 0 0 50px 0;
    list-style-type: none;
    position: relative;
}

li {
    grid-template-columns: 1fr 7fr 1fr 1fr;

    padding: 15px 0 15px 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}

label.my-handle {
    width: 80px;
    height: 70px;
    margin: 0 20px 0 0;
    text-align: center;
    font-size: 3.1em;
    cursor: move;
    cursor: -webkit-grabbing;
}

label.attribute {
    width: calc( 100% - 70px - 80px - 110px - 30px - 20px - 20px );
    font-size: 2.6em;
    font-weight: 300;
    margin: 0 30px 0 110px;
    text-align: left;
    overflow-x: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

label.container {
    height: 70px;
    width: 60px;
    margin: 0 20px 0 0;
    cursor: pointer;
}
/* The container */
.container {
    display: block;
    position: relative;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default checkbox */
.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 100%;
    width: 100%;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgb(50, 50, 50);
    border-bottom: 3px solid #525252;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
    background-color: rgb(50, 50, 50);
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
    left: 50%;
    top: 15%;
    width: 20%;
    height: 50%;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

/* .focusPanelParent {
  position: absolute;
  touch-action: none;
  user-select: none;
} */

.focusPanel {
    position: absolute;
    touch-action: none;
    user-select: none;
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* align-items: center; */
    cursor: move;
    /* display: flex; */
    align-items: center;
    /* justify-content: left; */
}

.drag-handle-focusPanel {
    grid-column-start: 1;
    grid-column-end: 2;
    text-align: center;
    font-size: 5em;
    margin: 0 20px 0 0;
}

.focusPanelBar {
    grid-column-start: 2;
    grid-column-end: 3;
    background-color: rgba(0, 139, 139, 0.5);
    height: 100%;
    margin-left: auto;
}

.list-enter-active,
.list-leave-active {
    transition: all 1s ease;
}

.list-enter-from,
.list-leave-to {
    opacity: 0;
    transform: translateY(30px);
}

.flip-list-move {
    transition: transform 1s;
}
