div#attrStoreTab {
  width: 100% !important;
}
header.axisStore {
  background-color: #252525;
  height: 10%;
  display: grid;
  grid-template-columns: 1fr repeat(3, 2fr) 1fr;

  justify-items: center;
}
.minusButton {
  background-color: #252525;
  color: #f0f0f0;
  grid-column-start: 2;
  grid-column-end: 3;

  margin: auto;
  font-size: 6em;
  font-weight: 100;

  padding: 0 20%;
  border-top: none;
  border-bottom: none;
  border-left: none;
  border-right: solid;
  border-color: #969696;
}
.totalAxesInFocus {
  color: #f0f0f0;
  grid-column-start: 3;
  grid-column-end: 4;
  font-size: 6em;
  font-weight: 100;
  padding: 0% 20%;
  border: none;
  border-color: #969696;

  margin: auto;
}

.plusButton {
  background-color: #252525;
  color: #f0f0f0;
  grid-column-start: 4;
  grid-column-end: 5;

  margin: auto;
  font-size: 6em;
  font-weight: 100;

  padding: 0 20%;
  border-top: none;
  border-bottom: none;
  border-right: none;
  border-left: solid;
  border-color: #969696;
}

.undoButton {
  background-color: #252525;
  color: #f0f0f0;
  grid-column-start: 5;
  grid-column-end: 6;

  margin: auto;
  font-size: 6em;
  font-weight: 100;

  /* padding: 0 20%; */
  border: none;
  /* border-bottom: none;
  border-right: none;
  border-left: solid;
  border-color: #969696; */
}

main.axisStore {
  height: 90%;
  background-color: #969696;
}

ul.axisStore {
  margin: 0%;
  /* padding: 1em; */
}

.minusButton,
.plusButton,
.undoButton {
  text-align: center;
  text-decoration: none;
}

.disableButton {
  color: #252525;
}

.dragPanel {
  background: rgb(197, 197, 219, 0.5);
  height: 140px;
  width: 140px;
  left: 30px;
  top: 30px;
  /* position: absolute; */
  font: 25px Helvetica, Arial, sans-serif;
  color: white;
  line-height: 140px;
  text-align: center;
}
