

/* Lato font */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');


body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(50,50,50);
}

#paracoordTab {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

#mainDiv {
    margin: 0 auto;
    width: 100%;
    height: 100%;
}

.attrNameText {
    font-family: Arial;
    font-weight: 400;
    /*letter-spacing: 0.01em;*/
    fill: #eeeeee;
    font-size: 3.7em;
    font-style: normal;
    cursor: pointer;
}

.attrNameTextBox,
.contextIndicatorBox {
    fill: rgba( 96, 96, 96, 0.8 );
    cursor: pointer;
}

.CIText {
    font-family: Arial;
    fill: #eeeeee;
    font-size: 1.75em;
    font-style: normal;
}

.ParaCoord_Axis_Class .tick text {
    font-family: Arial;
    font-weight: 300;
    fill: #eeeeee;
    font-size: 3.2em;
    font-style: normal;
    cursor: pointer;
}

.domain,
line {
    stroke: white;
    stroke-width: 3px;
    /*y: 10;*/
}

/*Brush setter styles.*/
label.brushname {
    font-size: 2em;
    font-weight: lighter;
    grid-column-start: 2;
    grid-column-end: 3;
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding-bottom: 7%;
}

/*Brush setter styles.*/
label.brushvalue {
    font-size: 4em;
    font-weight: lighter;
    grid-column-start: 1;
    grid-column-end: 3;
    text-align: left;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding-left: 3%;
    color: #7dcdc4;
}
/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 100px;
    height: 58px;
}

    /* Hide default HTML checkbox */
    .switch input {
        opacity: 0;
        width: 0;
        height: 0;
    }

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

    .slider:before {
        position: absolute;
        content: "";
        height: 50px;
        width: 50px;
        left: 4px;
        bottom: 4px;
        background-color: white;
        -webkit-transition: .4s;
        transition: .4s;
    }

input:checked + .slider {
    background-color: #7dcdc4;
}

input:focus + .slider {
    box-shadow: 0 0 1px #7dcdc4;
}

input:checked + .slider:before {
    -webkit-transform: translateX(42px);
    -ms-transform: translateX(42px);
    transform: translateX(42px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 58px;
}

    .slider.round:before {
        border-radius: 50%;
    }
