<!DOCTYPE html>
<html lang="en">
<head>
    <title>MoInVis ParaCoords</title>
    <script src="scripts/libs/d3.js"></script>
    <script src="scripts/libs/hammer.js"></script>
    <!--<script src="scripts/libs/vue.js"></script>-->
    <script src="scripts/libs/vue.global.js"></script>

    <link rel="stylesheet" type="text/css" href="css/styles.css">
    <link rel="stylesheet" type="text/css" href="css/styles_inputrange.css">
    <link rel="stylesheet" type="text/css" href="css/styles_axis_store.css">
    <link rel="stylesheet" type="text/css" href="css/styles_universal.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="data/json/chemwaste.json"></script>
    <script src="data/json/glasswaste.json"></script>
    <script src="data/json/healthcarebiowaste.json"></script>
    <script src="data/json/plasticwaste.json"></script>
    <script src="data/json/primarywaste.json"></script>
    <script src="data/json/rubberwaste.json"></script>
    <script src="data/json/secwaste.json"></script>
    <script src="data/json/totalwaste.json"></script>
</head>
<body>
    <div id="mainDiv">
        <div id="paracoordTab">
        </div>
        <div id="attrStoreTab">
            <div id="attrStoreTabVue">
                <h1>{{tabName}}</h1>
            </div>
        </div>
        <div id="entryStoreTab">
            <div id="entryStoreTabVue">
                <h1>Entry Store Tab</h1>
                <h1>{{tabName}}</h1>
            </div>
        </div>
        <div id="brushSetterOverlay">
            <div id="brushSetterOverlayVue">
                <div style="opacity: 1">
                    <svg style="left:1.5em; top:1.5em; position:absolute;">
                        <g @pointerdown="pointerDownX = true" @pointerup="pointerDownX = false" @click="closeTab">
                            <rect x="-20" y="-20" width="120" height="120" fill="black" opacity="0"></rect>
                            <path d="M 0 0 L 80 80 M 0 80 L 80 0" fill="none" stroke-width="10" stroke="#7dcdc4" :opacity="pointerDownX ? 0.5: 1"></path>
                        </g>
                    </svg>
                    <h1 class="brushtabname">{{tabName}}</h1>
                    <li v-for="(item, index) in brushes" :key="item" :id="item.attribute" :class="'brushlist' + (index === 0 ? ' firstbrush':'') + (item.inFocus?' brushinfocus':'')" @click="labelClick($event, item)" @openModal="item.inFocus = true">
                        <label class="brushname">{{ item.axisName }}</label>
                        <label class="brushvalue">{{ item.rangeText[0] + ' - ' + item.rangeText[1]}}</label>
                        <label class="switch">
                            <input type="checkbox" v-model="item.active" v-on:change="enableDisableBrush">
                            <span class="slider round"></span>
                        </label>
                        <transition name="modal">
                            <modal v-if="item.inFocus" @close="item.inFocus = false" :brushprops="item">
                        </transition>
                    </li>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="scripts/util.js"></script>
    <script type="text/javascript" src="scripts/datahandler.js"></script>
    <script type="text/javascript" src="scripts/button.js"></script>
    <script type="text/javascript" src="scripts/contextindicator.js"></script>
    <script type="text/javascript" src="scripts/itempath.js"></script>
    <script type="text/javascript" src="scripts/axisbrush.js"></script>
    <script type="text/javascript" src="scripts/brushmanager.js"></script>
    <script type="text/javascript" src="scripts/axisinteractionmanager.js"></script>
    <script type="text/javascript" src="scripts/axis.js"></script>
    <script type="text/javascript" src="scripts/tabmanager.js"></script>
    <script type="text/javascript" src="scripts/overlaytab.js"></script>
    <script type="text/javascript" src="scripts/tab.js"></script>
    <script type="text/javascript" src="scripts/paracoorder.js"></script>
    <script type="text/javascript" src="scripts/entrystore.js"></script>
    <script type="text/javascript" src="scripts/attributestore.js"></script>
    <script type="text/javascript" src="scripts/brushsetter.js"></script>
    <script type="text/javascript" src="scripts/moin.js"></script>
    <script type="text/javascript" src="scripts/main.js"></script>
</body>
</html>